In [6]:
from pandas import Series, DataFrame
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [12]:
df = pd.read_csv('NYC_Restaurants.csv', dtype=str)
df.loc[0]

Unnamed: 0                                                               0
CAMIS                                                             30112340
DBA                                                                WENDY'S
BORO                                                              BROOKLYN
BUILDING                                                               469
STREET                                                     FLATBUSH AVENUE
ZIPCODE                                                              11225
PHONE                                                           7182875005
CUISINE DESCRIPTION                                             Hamburgers
INSPECTION DATE                                                 12/30/2014
ACTION                     Violations were cited in the following area(s).
VIOLATION CODE                                                         06C
VIOLATION DESCRIPTION    Food not protected from potential source of co...
CRITICAL FLAG                                                     Critical
SCORE                                                                    8
GRADE                                                                    A
GRADE DATE                                                      12/30/2014
RECORD DATE                                                     02/12/2015
INSPECTION TYPE                           Cycle Inspection / Re-inspection
Name: 0, dtype: object

### [Q1, 6 points] Create a unique name for each restaurant

In [16]:
df['RESTAURANT'] = df['DBA']+ ' ' + df['BUILDING']+ ' ' + df['STREET']+ ' ' + df['ZIPCODE']+ ' ' + df['BORO'] 
df.loc[0]

Unnamed: 0                                                               0
CAMIS                                                             30112340
DBA                                                                WENDY'S
BORO                                                              BROOKLYN
BUILDING                                                               469
STREET                                                     FLATBUSH AVENUE
ZIPCODE                                                              11225
PHONE                                                           7182875005
CUISINE DESCRIPTION                                             Hamburgers
INSPECTION DATE                                                 12/30/2014
ACTION                     Violations were cited in the following area(s).
VIOLATION CODE                                                         06C
VIOLATION DESCRIPTION    Food not protected from potential source of co...
CRITICAL FLAG                                                     Critical
SCORE                                                                    8
GRADE                                                                    A
GRADE DATE                                                      12/30/2014
RECORD DATE                                                     02/12/2015
INSPECTION TYPE                           Cycle Inspection / Re-inspection
RESTAURANT                      WENDY'S 469 FLATBUSH AVENUE 11225 BROOKLYN
Name: 0, dtype: object

### [Q2, 6 points] How many restaurants are included in the data?

In [17]:
len(df['RESTAURANT'].drop_duplicates())

10114

### [Q3, 6 points] How many chains are there?

In [32]:
all_chains = df[['DBA','RESTAURANT']].drop_duplicates()
mask = all_chains

TypeError: '>' not supported between instances of 'DataFrameGroupBy' and 'int'